<section class="banner bg-red text-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img class="generator img-fluid" src="./assets/images/logo.jpg" alt="banner logo">
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="h-100 d-flex align-items-center text-right">
          <div class="d-block">
            <h2 class="font-weight-bold">Flash Boilerplate</h2>
            <p>Boilerplate with Templating, SCSS, ES6 and Bootstrap4</p>
            <button class="generator btn btn-outline-light">Generate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
