<footer id="footer">
  <div class="container d-lg-flex py-4">
    <div class="mr-lg-auto text-center text-lg-left">
      <div class="copyright">
        &copy; Copyright <strong><span>2020 April</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by <a href="http://canbektas.com">@canbektas</a>
      </div>
    </div>
    <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
      <a href="#" class="">◈</a>
      <a href="#" class="">☯</a>
      <a href="#" class="">★</a>
      <a href="#" class="">❤</a>
    </div>
  </div>
</footer>
