<section id="topbar" class="d-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li ><a href="contact.html">Contact</a></li>
        <li>&nbsp;</li>
        <li class="d-none d-md-inline-block"><a href="mailto:contact@example.com">{{ mail }}</a></li>
        <li class="d-none d-md-inline-block">{{ phone }}</li>
      </ul>

    </div>
    <div class="cta">
      <a href="contact.html" class="scrollto">
        <img src="assets/images/logo.jpg" alt="Flash Logo">
      </a>
    </div>
  </div>
</section>
